# API keys
OPENROUTER_API_KEY=<YOUR_OPENROUTER_API_KEY>

# (optional) Environment variables for the project root, dataset root and experiments root
__PROJECT_DATASET_ROOT__=<DATASET_ROOT>  
## e.g. "/path/to/MemCoach/data/dataset", default: workspace root / "data/dataset"
__PROJECT_EXP_FOLDER__=<EXPERIMENTS_ROOT>  
## e.g. "/path/to/MemCoach/experiments", default: workspace root / "experiments"
__PROJECT_ROOT__=<PROJECT_ROOT>  
## e.g. "/path/to/MemCoach", default: workspace root